<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hilision's Blog Managemnet System</title>

    <!-- Bootstrap core CSS -->

    <style class="anchorjs"></style><link href="{:url('/')}static/admin/css/index/bootstrap.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <!-- Documentation extras -->

    <link href="{:url('/')}static/admin/css/index/docsearch.css" rel="stylesheet">

    <link href="{:url('/')}static/admin/css/index/docs.css" rel="stylesheet">
</head>
<body>
{include file="Common/header"}

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
                <div class="col-12 col-md-3 col-xl-2 bd-sidebar">      
                    {include file="Common/navbar"}
                </div>
                <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                    <h1 class="bd-title" id="content">Navbar</h1>
                    <p class="bd-lead">Documentation and examples for Bootstrap’s 
            powerful, responsive navigation header, the navbar. Includes support for
            branding, navigation, and more, including support for our collapse 
            plugin.</p>

                    <h2 id="how-it-works"><div>How it works<a class="anchorjs-link " href="#how-it-works" aria-label="Anchor" data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div></h2>

                    <p>Here’s what you need to know before getting started with the navbar:</p>

                    <p>Here’s an example of all the sub-components included in a responsive light-themed navbar that automatically collapses at the <code class="highlighter-rouge">lg</code> (large) breakpoint.</p>
                </main>
        </div>
    </div>

<script src="{:url('/')}static/admin/js/jquery-3.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="{:url('/')}static/admin/js/popper.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script><script src="{:url('/')}static/admin/js/bootstrap.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script src="{:url('/')}static/admin/js/docsearch.js"></script><script src="{:url('/')}static/admin/js/docs.js"></script>
</body>
</html>
