<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{:url('/')}static/common/font-awesome-4.7.0/css/font-awesome.css">
    
    <link href="{:url('/')}static/index/style/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{:url('/')}static/index/style/screen.css">
    
    <link rel="stylesheet" href="{:url('/')}static/index/style/monokai_sublime.css">

</head>
<body class="post-template">

    <!-- start header&navigation -->  
    {include file='/Common/header'/}    
    <!-- end header&navigation -->


    <!-- start site's main content area -->
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-md-8 main-content">
                    <article id="110" class="post">
                        <section class="post-content">
                            <div id='preview-contents' class='note-content'>
                                <h1 id="关于我">关于我</h1>
				<p>有兴趣可以看看我的简历：<a href='https://hilision.github.io/resume/'>我的简历</a></p>
                                <hr>
                                <h1 id="联系方式">联系方式</h1>
                                <ul><li>Email：hlision@163.com </li>
                                </ul>
                                <hr>
                                <h1 id="个人信息">个人信息</h1>
                                <li><p>个人博客：<a href="{:url('index/index')}" target="_blank">http://116.85.12.227:8080
</a>&nbsp;(域名还在备案中-_-!)</p></li>
                                </ul>
                                <hr>
                                <h1 id="技能清单">技能清单</h1>
                                
                                <p>以下均为我熟练使用的技能</p>
                                
                                <ul><li>Web开发：PHP/ASP.NET</li>
                                <li>Web框架：ThinkPHP</li>
                                <li>前端框架：Bootstrap/Jquery/HTML/CSS</li>
                                <li>开发工具：VSCode/Visual Studio/Sublime</li>
                                <li>数据库：MySQL/SQLServer</li>
                                <li>版本管理、文档和自动化部署工具：Svn</li>
                                <li>开放平台：微信小程序</li>
                                </ul>
                                
                                </div>
                        </section>
                    </article>
                </main>

                 <!-- start aside -->
                 {include file='Common/aside'}
                 <!-- end aside -->
            </div>
        </div>
    </section>  

    <!-- start footer -->
    {include file='Common/footer'}
    <!-- end footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{:url('/')}static/index/js/jquery_003.js"></script>
    <script src="{:url('/')}static/index/js/highlight.js"></script>
    <script src="{:url('/')}static/index/js/jquery_002.js"></script>
    <script src="{:url('/')}static/index/js/main.js"></script>
   
</script>
</body>
</html>
