<!DOCTYPE html>
<html lang="zh-CN"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{$article.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{:url('/')}static/common/font-awesome-4.7.0/css/font-awesome.css">
    
    <link href="{:url('/')}static/index/style/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{:url('/')}static/index/style/screen.css">
    
    <link rel="stylesheet" href="{:url('/')}static/index/style/monokai_sublime.css">

</head>
<body class="post-template">

    <!-- start header&navigation -->  
    {include file='/Common/header'/}    
    <!-- end header&navigation -->


    <!-- start site's main content area -->
    <section class="content-wrap">
        <div class="container">
            <div class="row">

                <main class="col-md-8 main-content">
                

                    <article id="110" class="post">

                        <header class="post-head">
                            <h2 class="post-title">{$article.title}</h2>
                            <section class="post-meta">
                                <span class="author">作者：<a href="{:url('Author/index')}">{$article.author}</a></span> •
                                <time class="post-date" datetime="{$article.create_time|date='Y年m月d日 H时:i分:s秒'}" title="{$article.create_time|date='Y年m月d日 H时:i分:s秒'}">{$article.create_time|date='Y-m-d'}</time>
                            </section>
                        </header>


                        <section class="post-content">
                            <?php echo htmlspecialchars_decode($article['content'])?>
                            
                        </section>
                    </article>
                </main>

                 <!-- start aside -->
                 {include file='Common/aside'}
                 <!-- end aside -->
            </div>
        </div>
    </section>  

    <!-- start footer -->
    {include file='Common/footer'}
    <!-- end footer -->

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{:url('/')}static/index/js/jquery_003.js"></script>
    <script src="{:url('/')}static/index/js/highlight.js"></script>
    <script src="{:url('/')}static/index/js/jquery_002.js"></script>
    <script src="{:url('/')}static/index/js/main.js"></script>
   
</script>
</body>
</html>
