<!-- start header -->
<header class="main-header" style="background-image: url({:url\(\'/\'\)}static/index/images/art.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- start logo -->
                <a class="branding" href="{:url('index/index')}" title="Hilision的Blog"><i class="fa fa-openid" ></i></a>
                <!-- end logo -->
                <h2 class="text-hide">一步一个坑</h2>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                    </span>
                </div>
	   	<div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="{:url('Index/index')}">首页</a></li>
                        <li role="presentation"><a href="{:url('Author/index')}">关于</a></li>
                    </ul>   
                </div> 
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->
