<nav class="collapse bd-links" id="bd-docs-nav">
    <div class="bd-toc-item">
        <a class="bd-toc-link" href="{:url('Article/addArticle')}">
            写文
        </a>
        <a class="bd-toc-link" href="{:url('Article/articleList')}">
            文章列表
        </a> 
        <a class="bd-toc-link" href="{:url('Category/addCategory')}">
            增加分类
        </a>
        <a class="bd-toc-link" href="{:url('Category/categoryList')}">
            分类列表
        </a>          
    </div>
</nav>
